@model E_Ticaret.Models.Siniflar.Department
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Güncelle</h2>
<br />
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.DepartmentName)
        @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
        @Html.HiddenFor(x => x.DepartmentID)
    </div>
    <button class="btn btn-default" style="background-color:darkolivegreen; color:white">Güncelle</button>
}


